body {
    background-color: #fffbf7;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}


.Estilo_titulo2 {
    color: #025157;
    font-family: "Alegreya";
    font-size: 48px;
    font-weight: 900;
}

.stilo1 {
    color: #46484c;
    margin-bottom: 5px;
}

p {
    color: #8b8b8bcc;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Boton_3 {
    color: #fffbf7;
    background-color: #025157;
}

img {
    width: 100%;
}

.imgstyle {
    width: 30%;
}

.imgstyle2 {
    width: 70%;
}

.stilo2 {
    margin-top: 5px;
}

.main {
    text-align: center;
    margin-top: 200px;
}
.Barra_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}
.header{
    margin: 40px 20px 0;
    font-size: 0;

}
.header li {
    display: inline;
    margin: 0px 15px;
}
.header ul {
    padding: 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}
header a .Logo_matcha {
    width: 50px;
}

.Imagen_Matcha {
        width: 20%;
}

.navbar {
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 600;
}


.actions {
    width: 20%;
    text-align: right;
    font-size: 14px;
    font-weight: 800;
}

.boton2 {
    background-color: #a1d683;
    padding: 15px 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #a1d683;
}
 .Sign_in {
     padding: 0px 20px 0px 0px;
     color: #a1d683;
     text-decoration: none;
 }

.Publish {
    width: 70%;
    display: flex;
    margin: 10em auto;
    align-items: flex-start;
}

.Publish .article .Estilo_titulo {
    color: #025157;
    font-family: Alegreya;
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
}

.Publish .video {
    flex: 1;
}

.Publish .video .video_contenedor {
    width: 90%;
}
.Publish .video .cuadro_video {
    width: 100%;
}

.article {
    flex: 1;
}

.Features {
    display: grid;
    height: 37.5rem;
    background-color: #025157;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1FR 1fr;
    gap: 3REM;
    padding: 5% 10%;
}

.Features .feature_class {
    padding: 15px 50px;
    overflow: hidden;
}

.Features .feature_class {
    border-radius: .5rem;
    background-color: white;
    height: 100%;
    display: flex;
}

.Features .feature_class .feature_text {
    flex: 2;
    font-size: 20px;
}
.Features .feature_class .feature_text .iconillo {
    height: 30px;

}
.Features .feature_class .feature_text .figure {
    margin: 0;
}
.Features .feature_class .feature_text .url {
    color: green;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
.Features .feature_class .feature_image {
    flex: 1;
}

.movimiento {
   transition: width 3s ;
}

.movimiento:hover {
    width: 100%;
}
.feature_text p {
    margin-bottom: 2rem;

}

.seccion_verde {
    display: flex;
    background-color: #a1d683;
    height: 30rem;
    padding: 10% 15%;
    justify-content: space-around;
}

.seccion_verde .seccion_izq {
    flex: 3;
    margin: 7rem;
}
.seccion_verde .seccion_izq .titulo {
    font-family: "Alegreya";
    color: #025157;
    font-size: 3rem;
    margin-bottom: .5rem;
}
.seccion_verde .seccion_izq .parrafo {
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.seccion_verde .seccion_izq .button {
    background-color: #025157;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: 700;
}

.seccion_verde .Cont_img {
    margin-left: 0;
}

.seccion_verde .seccion_izq .img {
    width: 27rem;
    
}

.seccion_verde .seccion_der {
    flex: 1;
    width: 10rem;
    background-color: white;
    border-radius: 1rem;
    height: 40rem;
    overflow: hidden;
}

.seccion_verde .seccion_der .cont_img {
    margin: 0;

}

.seccion_verde .seccion_der .cont_bottom {
    padding: .5rem 1rem;
}

.seccion_verde .seccion_der .titulo_der {
    font-family: "Alegreya";
    color: #025157;
}

.seccion_verde .seccion_der .parrafo_der {
    color: #46484c;
    font-weight: 700;
    font-size: 1.3rem;
}

.seccion_verde .seccion_der .Iconillo_der {
    width: 3rem;
}














.Howmatchawork {
    text-align: center;
    padding: 5% 10%;
}

.Howmatchawork .cont_top {
    grid-column: 1/5;
    text-align: center;
    height: 10rem;
    margin-top: 0;
    margin-bottom: 5rem;
}

.Simple_formula {
    text-decoration: none;
    color: #a1d683;
}


.Howmatchawork .cont_top .ti_top {
    color: #025157;
    font-family: "Alegreya";
    font-size: 48px;
    font-weight: 900;
}

.Howmatchawork .cont_top .pa_top {
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.Howmatchawork .cont_top .but_top {
    background-color: #025157;
    color: white;
    padding: .7rem;
    border-radius: .5rem;
    font-weight: 700;
}

.Howmatchawork .container2  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 40rem;
    gap: 2rem;
}

.Howmatchawork .container2 > * {
    background-color: white;
    border-radius: 1rem;
    border: solid black 1px;
    overflow: hidden;
}

.container2 .img_cont {
    margin: 0;
}

.titulo_container2 {
    font-family: "Alegreya";
    color: #025157;
    font-size: 1.7rem;
    margin: 0;
}

.pa_container2 {
    color: #46484c;
    font-weight: 700;
    font-size: .9rem;
    justify-content: start;
}

.link_cont2 {
    color: #025157;
    text-decoration: none;
    font-weight: 900;
    font-size: 1rem;
}

.container2 .caja1 {
    text-align: center;
}

































