body {
    background-color: #fffbf7;
    margin: 0px;
    text-align: center;
}

h1 {
    color: #025157;
}

.stilo1 {
    color: #46484c;
}

p {
    color: #8b8b8bcc;
}

button {
    color: #fffbf7;
    background-color: #025157;
}

.imgstyle {
    width: 250px;
}

img {
    width: 1200px;
}

